*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #2e2e2d;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}
h1{
    text-align: center;
    font-size: 40px;
}
h2{
    text-align: center;
    font-size: 36px;
    padding: 1%;
}
.tabla{
    width: 500px;
    margin:10px auto;
}
.radius{
    border:solid blue 3px;
}
.formulario{
    width: 500px;
    margin:20px auto;
    border:solid blue 3px;
    padding: 1rem;
}
.logo{
    width:50px;
}
.colorPropio{
    background-color: gray;
}
.carousel-item{
    height: 600px;
}
.carousel-control-prev, .carousel-control-next {
    background-color: grey;
    width: 50px;
   }
.carousel-caption p,h5 {
    background-color: black;
    color: white;
}
main p{
    color: rgb(209, 209, 217);
    font-size: 18px;
}


